*{
    font-family: 'Roboto',sans-serif;
}

body{
    margin:0;
    
}
.nav-element{
    background-color:#1F2937 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
    border-bottom:2px solid black;
}
.header-logo{
    color:#F9FAF8;
}


header{
    background-color:#1F2937 ;
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 400px;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}

.header-element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:45px;
    padding:40px;
    
}

.header-links{
    display: flex;
    gap: 15px;
    
}

.header-button{
    padding:10px 26px;
    border-radius:8px;
    background-color:#3882F6;
    border:none;
    color: #E5E7EB;
    font-size:16px;
    font-weight: bold;
}

.header-image{
    background: cover;
    width: 600px;
    height:300px;
}

.header-text-heading{
    font-size:48px;
    color:#F9FAF8;
    font-weight: bolder;
    margin-bottom: 0px;
}

.header-content{
    max-width:400px ;
  
}

.header-paragraph{
    color: #E5E7EB;
}

.section-1-elements{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.section-1-head{
    color:#1F2937;
    font-size:36px;
    font-weight:bold;
    text-align:center;
}

.section-1-content{
    display: flex;
    max-width: 150px; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    color: #4b4b4b;
    
}
.section-1-image{
    border: 4px solid rgb(75, 117, 255);
    border-radius: 20px;
    height: 150px;
    width: 150px;
    margin-bottom: 0;
}

.quote-section{
    background-color: #E5E7EB;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-speaker{
   align-self: flex-end;
   margin-right:350px;
   color: #1F2937;
   
   
}

.quote-paragraph{
    max-width: 800px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom:0;

}